html {scroll-behavior: smooth;}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-top: 80px;
    line-height: 1.5;
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    /* text-transform: capitalize; */
    color: #000;
}
h1, .h1 {font-size: 2.0em;}
h2, .h2 {font-size: 1.6em;}
h3, .h3 {font-size: 1.15em;}
h4, .h4 {font-size: 1.1em;}
h5, h6, .h5, .h6{font-size: 1em; }

p,li {color: #666; font-size: 1em; text-align: justify;}
span{color: #666; font-weight: 600;}
a {color: #666; text-decoration: none;  transition: 0.3s; cursor: pointer;}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00346b;
    color: #fff;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }

  .text-primary{
    color: yellowgreen!important;
  }

.error{
  color: red;
}

.bg-red{
  background-color: #fbefef;
}

.btn-primary{
  background-color: #00346b;
  border-color: #00346b;
  border-radius: 25px;
  padding: 12px 50px;
  line-height: 128%;
  margin-bottom: 20px;
}

.extenal-css{
    font-size: 80px;
}

